* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad-container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(4, 124px);
    grid-template-rows: repeat(2, 124px);
    gap: 10px;
}

button {
    height: 120px;
    width: 120px;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    
}